.rodapeprincipal__patrocinadoreslist {
    align-items: center;
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-right: 5%;
    width: 75%;
}

@media (max-width: 768px) {
    .rodapeprincipal__patrocinadoreslist {
        display: flex;
        flex-direction: column;
        list-style: none;
        margin-left: -40px;
        text-align: center;
    }
}